body {
    font-family: Arial, sans-serif;
    text-align: center;
    width: 100%;
}

.page{
    margin: 0;
}

.home-anime-container{
    width: 80%;
    margin: 0 auto;
    margin-top: 50px;
}

.home-grid-container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    grid-auto-flow: row;
    gap: 10px;
    justify-content: center;
    padding: 0px;
}

.home-grid-item{
    width: auto;
    height: auto;
    margin-bottom: 70px;
}

.home-anime-cover{
    width: auto;
    height: 350px;
    object-fit: cover;
    transition: ease-in-out 0.3s;
}

.home-anime-cover:hover{
    cursor: pointer;
    transform: scale(1.1);
}


@media (max-width: 1024px) {
    .home-grid-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Phone */
@media (max-width: 640px) {
    .home-grid-container {
        grid-template-columns: 1fr;
    }

    .home-anime-cover{
        height: 250px;
    }
}